<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="IllusionLibs.AIGirl.Assembly-CSharp" version="2019.11.8" targetFramework="net47" developmentDependency="true" />
  <package id="IllusionLibs.AIGirl.Assembly-CSharp-firstpass" version="2019.11.8" targetFramework="net47" developmentDependency="true" />
  <package id="IllusionLibs.AIGirl.UnityEngine.CoreModule" version="2018.2.21" targetFramework="net47" developmentDependency="true" />
  <package id="IllusionLibs.AIGirl.UnityEngine.ImageConversionModule" version="2018.2.21" targetFramework="net47" developmentDependency="true" />
  <package id="IllusionLibs.AIGirl.UnityEngine.IMGUIModule" version="2018.2.21" targetFramework="net47" developmentDependency="true" />
  <package id="IllusionLibs.BepInEx" version="5.4.4" targetFramework="net47" developmentDependency="true" />
  <package id="IllusionModdingAPI.AIAPI" version="1.15.0" targetFramework="net47" developmentDependency="true" />
</packages>